//---------------FARBEN------------------
$primary2: #eb5e5a;
$babyBlue: lighten(blue, 20%);
$primary: #2a2d32;
$sec: darken(white, 20%);


@keyframes navBarAni{
    from {
        color: white;
    }
    to {
        color: lighten($primary2, 10%);
    }
}
@keyframes fadeIn {
    0% { opacity: 0.3 }
    100% { opacity: 1 }
}
@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0.3 }
}


html{
    scroll-behavior: smooth;
}
body{
    font-size: 15px;
    background-color: #f1f1f1;
    color: black;
}

//------------------------TOPBAR----------------------------
#topBar{
    background-color: $primary2;
    position: absolute;
    padding-bottom: 8px;
    
    text-transform: uppercase;
    
    font-family: 'Righteous', cursive;
    text-shadow: -3px 3px 0px black;
    letter-spacing: .2em;
    font-size: 20pt;
    line-height: 0%;
    text-align: center;
    
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    
    a{
        text-decoration: none;
        color: white;
    }
}

//------------------NAVBAR( + Searchbar)--------------------
#navBar{
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 12px solid black;
    
    background-color: black;
    
    height: 40px;
    margin-top: 45px;
    
    //-------------LIST---------------
    ul{
        text-align: center;
        list-style: none;
        
        li{            
            text-align: center;
            display: inline-block;
            
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            
            
            padding-right: 1em;
            padding-left: 1em;
            
            letter-spacing: .2em;
            font-size: 11pt;
            line-height: normal;            
            
            //---------------------------------
            input[type=text]{                
                width: 15em;
                height: 2em;
                padding-left: 5px;            
                                
                border: none;
                border-right: 2px solid black;
                
                box-sizing: border-box;
                font-family: 'Roboto', sans-serif;
                letter-spacing: .02rem;
            }
            input[type=submit]{            
                display: inline-block;
                width: 2em;
                height: 2em;                
                border: none;     
                color: transparent;
                
                background: url(https://banner2.kisspng.com/20180802/rzx/kisspng-product-design-logo-magnifying-glass-organization-search-for-parts-servolog-co-il-5b62c7a18735e6.5710335215332002895538.jpg) center center no-repeat;
                background-color: white;
                background-position-x: -2px;
                background-size: 100%;            
            }
            
            //---------------------------------
            a{
                text-decoration-style: none;
                text-decoration: none;
                color: white;
            }
            a:hover{
                animation-name: navBarAni;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-fill-mode: both;
            }
        }
        
    }
}

//--------------------SONG-DETAILS--------------------------
.banner{
    position: relative;
    
    background-image: url(bannerEx.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
    background-position-y: 50%;
    height: 18em;
    width: 100%;
    
    top: 6.4em;
    border: 2px solid black;
    
    margin-left: -0.48%;
    padding-right: 0.76%;
    
    //--------Album Cover----------    
    .albumCover{
        height: 230px;
        width: 230px;
        
        margin-left: 20%;
        margin-top: 18px;
        
        background-image: url(revanTemp.png);
        background-size: 101%;
        background-repeat: no-repeat;
        
        border: 2px solid $primary2;
        border-radius: 3px;
    }
    
    //---------Details-----------
    .details{
        width: fit-content;
        height: fit-content;
        
        //border: 2px solid black;
        
        margin-top: -15.6em;
        margin-left: 41.5em;
        
        font-family: 'Inconsolata', monospace;
        line-height: 0;
        font-weight: bold;
        
        ins{
            text-decoration: none;
            color: $babyBlue;
        }
        //---texte---
        #title{            
            font-size: 30pt;
            color: $primary2;
        }
        #artist{
            font-size: 25pt;
            color: lighten($sec, 10%);                        
        }
        #producer, #album{
            color: white;
            line-height: .2;
        }
        span{
            background-color: rgb(0, 0, 0);
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

//--------------------ASIDE-ELEMENT-------------------------
aside{
    height: 50px;
    width: 50px;
    position: sticky;
    top: 90vh;
    margin-right: 10px;
    float: right;
    border-radius: 30px;
    background-color: $primary2;
    opacity: 0.3;
    border: 2px solid darken($primary2, 10%);

    animation: fadeOut 0.5s;

    p{
        transform: rotate(-135deg);
        text-align: center;
        line-height: 1.3em;
        padding-right: 5px;
    }
}

aside:hover{
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

  //----ARROW-ITSELF-----
i {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 5px;
}

//-----------------------LYRICS-----------------------------
.lyrics{
    background-color: white;

    position: relative;

    border: 2px solid black;
    width: fit-content;
    padding: 40px;
    
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Slabo 27px', serif;
    font-size: 19pt;
}

